* {
  box-sizing: border-box;
}

input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #51B7D4;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #337AB7;
}

.container {
  width: 70%;
  margin: auto;
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Make the screen responsive */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}

#tabCostForecast {
  border-collapse: collapse;
  width: 70%;
  margin: auto;
}

#tabCostForecast td, #tabCostForecast th {
  border: 1px solid #ddd;
  padding: 8px;
}

#tabCostForecast tr:nth-child(even){background-color: #f2f2f2;}

#tabCostForecast tr:hover {background-color: #ddd;}

#tabCostForecast th {
  padding-top: 12px;
  padding-bottom: 12px;
  text-align: left;
  background-color: #51B7D4;
  color: white;
}
